---
import octicons, { type IconName } from '@primer/octicons';

import LinkedInIcon from './linkedin.svg';

interface Props {
  href: string;
  iconName: IconName | 'linkedin';
}

const { href, iconName } = Astro.props;
---

<a href={href}
  ><div class="parent">
    {
      iconName === 'linkedin' ? (
        <LinkedInIcon aria-hidden class="octicon info-component-icon linkedin" height={14} />
      ) : (
        <Fragment set:html={octicons[iconName].toSVG({ class: 'info-component-icon', height: 12 })} />
      )
    }<slot />
  </div>
</a>

<style>
  .parent {
    display: flex;
    align-items: center;
  }
</style>

{/* needs to be global since `@primer/octicons` elements aren't picked up by astro’s scoped styling logic */}
<style is:global>
  svg.info-component-icon.octicon {
    padding-right: 0.25em;
  }

  /* this isn't great but i didn't love the standard padding on the github logo icon */
  svg.info-component-icon.octicon.octicon-mark-github {
    padding-right: 0.3em;
  }
</style>
